* {
  margin: 0%;
  padding: 0;
}
.TopbarContainer {
  height: 50px;
  width: 100%;
  background-color: #1877f2;
  display: flex;
  align-items: center;
  position: sticky;
  top: 0;
  z-index: 1;
}
.Topbarleft {
  flex: 3;
}
.logo {
  font-size: 24px;
  margin-left: 20px;
  font-weight: bold;
  color: white;
  cursor: pointer;
}
.Topbarcenter {
  flex: 5;
}
.searchbar {
  width: 100%;
  height: 30px;
  background-color: white;
  border-radius: 30px;
  display: flex;
  align-items: center;
}
.searchIcon {
  font-size: 20px !important;
  margin-left: 10px;
}
.searchinput {
  border: none;
  width: 70%;
}
.searchinput:focus {
  outline: none;
}
.TopbarRight {
  flex: 4;
  display: flex;
  align-items: center;
  justify-content: space-around;
  color: white;
}
.topbarlink {
  margin-right: 10px;
  font-size: 14px;
  cursor: pointer;
}
.topbaricons {
  display: flex;
}
.topbariconitem {
  margin-right: 15px;
  cursor: pointer;
  position: relative;
}
.mymodicon {
  height: 20px;
  width: 20px;
}
.topbariconbadge {
  width: 15px;
  height: 15px;
  background-color: red;
  border-radius: 50%;
  color: white;
  position: absolute;
  top: -5px;
  left: -5px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 13px;
}
.TopbarImg {
  width: 32px;
  height: 32px;
  border-radius: 50%;
  object-fit: cover;
  cursor: pointer;
}
